body {
    display: flex;
    flex-direction: column;
    padding:0;
    margin: 0;
    font-family: arial;
}

/* Introduction Section */

#introduction {
    background-color: #1F2937;
    padding: 10px;
}

header {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

#headerLogo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}
#headerLinks {
    flex: 1;
    text-align: center;
}

#headerLinks a {
   font-size: 18px;
   color: #E5E7EB; 
}

#introductionSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#introductionText {
    flex: 1;
    
}

#introductionText p, h1 {
    margin: 0;
    padding: 0;
}

#introductionText h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

#introductionText p {
    color: #E5E7EB;
    font-size: 18px;
}

#introductionText button {
    background-color: #3882F6;
    color: #F9FAF8;
    box-shadow: none;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

#introductionImage {
    flex: 1;
    text-align: center;
    background-color: gray;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Random information section */
#randomInformationSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#randomInformationHeader {
    flex: 1;
}

#randomInformationGallery {
    flex: 1;
    display: flex;
}